  <script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
  </script>

  <script type="text/javascript">
    var pageTracker = _gat._getTracker("UA-5294447-2");
    pageTracker._trackPageview();
  </script>

  <div>
    <img style="float: left;" src="images/tc_left.gif" alt="" />
    <img style="float: right;" src="images/tc_right.gif" alt="" />
  </div>

  <ul class="header">
    <li><img src="images/logo.jpg" alt="Corporate Tango" /></li>
  </ul>

  <ul class="menu">
    <li><a href="index.html">Home</a></li>
    <li><a href="social.html">Social</a></li>
    <li><a href="team.html">Team Building</a></li>
    <li><a href="leadership.html">Leadership Program</a></li>
    <li><a href="performance.html">Performance</a></li>
    <li><a href="articles.html">Articles</a></li>
    <li><a href="contact.html">Contact</a></li>
  </ul>
